<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gautamnair.myapplication">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".about"
            android:label="About" />
        <activity
            android:name=".dlrs"
            android:label="Driving License" />
        <activity
            android:name=".cnbs"
            android:label="Choice Number" />
        <activity
            android:name=".mt"
            android:label="Mock Test" />
        <activity android:name=".sd" />
        <activity android:name=".smt" />
        <activity android:name=".su" />
        <activity android:name=".ndl" />
        <activity android:name=".ll" />
        <activity android:name=".pl" />
        <activity android:name=".rol" />
        <activity android:name=".dl" />
        <activity android:name=".faus" />
        <activity android:name=".trc" />
        <activity android:name=".prc" />
        <activity android:name=".rrc" />
        <activity android:name=".drc" />
        <activity android:name=".ac" />
        <activity android:name=".sb" />
        <activity android:name=".appoint" />
        <activity android:name=".nll" />
        <activity android:name=".login" />
        <activity
            android:name=".vl"
            android:label="Vahan LogIn" />
        <activity android:name=".vd" />
        <activity android:name=".dashboard" />
        <activity android:name=".ar" />
        <activity android:name=".fmt" />
    </application>

</manifest>